.App {
  text-align: center;
}

#formContainer{
  text-align: left;
}

#formContainer.container{
  max-width: 1500px !important;
}

form{
  margin-left: 10px;
  margin-right: 10px;
  background-color: #a9d88d;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}
 .login-form{
  border:none;
 }

 .login-modal-header{
   color:#a9d88d;
 }

 .login-modal-body{
  background-color: #a9d88d;
 }

.submit{
  background-color: white;
  border: 1px solid black;
  color:black;
}

.submit:hover{
  background-color: white;
  border: 1px solid black;
  color:black;
  box-shadow: 2px 2px 4px 2px black; 
}

.nav-link{
  color: gray;
}

.nav-link:hover, 
a.active{
  color:black;
}

h4{
  text-align: center;
}

.navbar-container{
  width: 100%;
  justify-content: center;
}

.backgroundColorLight{
  background-color: #a9d88d;
}

.login-button{
  color:gray;
  border-color: gray;
}

.login-button:hover{
  color:black !important;
  border-color: black;
  background-color: white !important;
}

.login-button:focus{
  /* outline: 0 !important; */ /*Not working to remove border after button is selected*/
  color:black !important;
  border-color: black;
}

a, a:hover{
  text-decoration: none;
  color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.crafting-favorites{
  margin-top:400px;
}

h3, h2{
  width: 100%
}

.resource-box{
  border: 1px solid black;
}

.card-item{
  margin-bottom: 10px;
}

@import url('https://fonts.googleapis.com/css?family=Lobster');

:root{
  --level2-height: 150px;
  --level2-width: 110px;
  --level1-height: 180px;
  --level1-width: 130px;
  --level0-height: 200px;
  --level0-width: 150px;
  --level-2-left: 650px;
  --level-1-left: 500px;
  --level0-left: 330px;
  --level1-left: 180px;
  --level2-left: 50px;
}

/* body {
    background-color: #89FAD0;
    font-family: 'Lobster';
} */

#carousel {
    position: absolute;
    height: 200px;
    width: 810px;
    /* margin: auto; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom:50px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-family: 'Lobster';
}

.arrow {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    text-align: center;
    font-size: 25px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    color: #228291;
    line-height: 30px;
    margin-top: 85px;
    z-index: 1000;
}

.arrow-right {
    left: 778px;
}

.item {
    text-align: center;
    color: white;
    font-size: 40px;
    position: absolute;
    transition: height 1s, width 1s, left 1s, margin-top 1s, line-height 1s, background-color 1s;
}

.level-2 {
    height: var(--level2-height);
    width: var(--level2-width);
    line-height: var(--level2-height);
    background-color: #228291;
    left: var(--level-2-left);
    margin-top: 25px;
}

.level-1 {
    height: var(--level1-height);
    width: var(--level1-width);
    line-height: var(--level1-height);
    background-color: #6796E5;
    left: var(--level-1-left);
    margin-top: 10px;
}

.level0 {
    height: var(--level0-height);
    width: var(--level0-width);
    line-height: var(--level0-height);
    background-color: #4EC9E1;
    left: var(--level0-left);
}

.level1 {
    height: var(--level1-height);
    width: var(--level1-width);
    line-height: var(--level1-height);
    background-color: #6796E5;
    margin-top: 10px;
    left: var(--level1-left);
}

.level2 {
    height: var(--level2-height);
    width: var(--level2-width);
    line-height: var(--level2-height);
    background-color: #228291;
    margin-top: 25px;
    left: var(--level2-left);
}

.left-enter {
    opacity: 0;
    left: var(--level2-left) - var(--level2-width);
    height: var(--level2-height) - 30;
    width: var(--level2-width) - 20;
    line-height: var(--level2-height) - 30;
    margin-top: 40px;
}

.left-enter.left-enter-active {
    opacity: 1;
    left: var(--level2-left);
    height: var(--level2-height);
    width: var(--level2-width);
    line-height: var(--level2-height);
    margin-top: 25px;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.left-leave {
    opacity: 1;
    left: var(--level-2-left);
    height: var(--level2-height);
    width: var(--level2-width);
    line-height: var(--level2-height);
    margin-top: 25px;
}

.left-leave.left-leave-active {
    left: var(--level-2-left) + var(--level2-width) + 20;
    opacity: 0;
    height: var(--level2-height) - 30;
    line-height: 120px;
    margin-top: 40px;
    width: var(--level2-width) - 20;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.right-enter {
    opacity: 0;
    left: var(--level-2-left) + var(--level2-width);
    height: var(--level2-height) - 30;
    width: var(--level2-width) - 20;
    line-height: var(--level2-height) - 30;
    margin-top: 40px;
}

.right-enter.right-enter-active {
    left: var(--level-2-left);
    opacity: 1;
    height: var(--level2-height);
    margin-top: 25px;
    line-height: var(--level2-height);
    width: var(--level2-width);
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.right-leave {
    left: var(--level2-left);
    height: var(--level2-height);
    opacity: 1;
    margin-top: 25px;
    line-height: var(--level2-height);
    width: var(--level2-width);
}

.right-leave.right-leave-active {
    left: var(--level2-left) - var(--level2-width);
    opacity: 0;
    height: var(--level2-height) - 30;
    width: var(--level2-width) - 20;
    line-height: var(--level2-height) - 30;
    margin-top: 40px;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.noselect {
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none;  
            user-select: none;
}
